<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Weekly Coding Challenge #8 - Chat Interface</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h2>Weekly Coding Challenge #8 <br /> Chat Interface</h2>
<div class="chat-container">
	<ul class="chat">
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>I'm hungry!</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>Hi hungry, nice to meet you. I'm Dad.</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>DAD! I'm serious!</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>I thought your name was hungry...?</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
			<p>ARE YOU KIDDING ME?</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>No, I'm Dad...</p>
		</li>
	</ul>
	<input type="text" class="text_input" placeholder="Message..."/>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/04/chat-interface/">here</a>
	</p>
</footer>
<!-- partial -->
  
</body>
</html>
