@import url('https://fonts.googleapis.com/css?family=Lato');
@import './components/loading';
@import './components/alert';
@import './components/modal';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    margin-bottom: 0;
    padding: 0;
}


